body {
    margin: 0;
    padding: 0;
    background-image: url(./pics/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:50% ;
    background-position-y:50% ;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}

.navbar-letf-side {
    display: flex;
    align-items: center;
    width: 40%;
    flex-direction: row;
    padding-left: 90px;
    gap: 10px;
}

.navbar-letf-side img {
    height: 4rem;
    width: 4rem;
}

.navbar-letf-side h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    padding-left: 40px;
}

.navbar-right-side h4 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-hire-btn {
    display: flex;
    align-items: center;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
    scale: 1;
}

.content-main-div {
    display: flex;
    flex-direction: row;
    padding-top: 7rem;
    padding-left: 150px;
}

.content-left-side {
    width: 50%;
    height: 90px;
    align-items: center;
    flex-direction: column;
}

.content-left-side p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: grey;

}

.content-left-side h4 {
    font: bold;
    font-size: 35px;
    padding-bottom: 3px;
    height: 5px;

}

.content-left-side h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 3px;
    height: 24px;
    font-size: 40px;
}

.content-left-side h3 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 3px;
    height: 5px;
    font-style: normal;
}

.content-right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    /* padding-top: 1rem; */

}

.content-right-side img {
    height: 25rem;
    width: 60%;
}

.link-icon-div {
    width: 36%;
}

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}
.about-me-heading{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding-left: 80px;
    padding-top: 10rem;
}
.about-me-main-div{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}
.about-me-left-side{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.315) ;
    border: 1px white;
    backdrop-filter: blur 10px;
    border-radius:20px ;
    width: 40%;
    padding-left: 40px;
}
.about-left-side-pic-div{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.about-me-left-side h1{
    padding-left: 90px;
}
.about-left-side-pic-div img{
    height: 4rem;
    width: 6rem;
    padding-left: 25px;
}
.about-left-side-pic-second-div img{
    height: 6rem;
    width: 9rem;
    padding-left: 15px;
    padding-top: 40px;
}
.about-me-right-side{
    gap: 20px;
    width: 40%;
    padding-left: 60px;
    background-color: rgba(255, 255, 255, 0.315) ;
    border: 1px white;
    backdrop-filter: blur 10px;
    border-radius:20px ;
}
.about-me-right-side h4{
    padding-top: 20px;
}
@media screen and (max-width: 900px) {
    body {
        margin: 0;
        padding: 0;
        background-image: url(./pics/background.svg);
        background-repeat: no-repeat;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-letf-side {
        flex-direction: row;
        padding-left: 40px;
        width: 100%;
    }

    .navbar-right-side {
        width: 90%;
        flex-direction: row;
        align-items: center;
        padding-left: 10px;
    }

    .navbar-hire-btn {
        display: none;
        align-items: center;
    }

    .content-main-div {
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        padding-left: 20px;
    }

    .content-left-side {
        width: 100%;
        height: 50px;
        align-items: center;
        flex-direction: column;
    }

    .content-left-side h3 {
        padding-bottom: 35px;
    }

    .link-icon-div {
        width: 80%;
    }

    .content-right-side {
        width: 100%;
        padding-top: 10rem;
        z-index: -1;
        filter: brightness(-20px) blur(2px);

    }

    .content-right-side img {
        height: 20rem;
        width: 80%;
    }
    .about-me-heading{
        display: flex;
        flex-direction: row;
        font-size: 7px;
        padding-left:43px;
        width: 80%;
    }
    .about-me-left-side{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.315) ;
        border: 1px white;
        backdrop-filter: blur 10px;
        border-radius:20px ;
        width: 60%;
        padding-left: 90px;
    }
    .about-me-left-side h1{
        display: flex;
        flex-direction:column;
        padding-left: 0rem;
        width: 100%;
        
    }

    .about-me-main-div{
        flex-direction: column;
        width: 70%;
        padding-left: 80px;
    }
    .about-left-side-pic-div{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 20px;
        padding-left: 10px;
    }
    .about-left-side-pic-div img{
        height: 4rem;
        width: 6rem;
        padding-left: 0px;
        ;
    }
    .about-left-side-pic-second-div img{
        height: 6rem;
        width: 10rem;
        padding-left: 0px;
        padding-top: 40px;
    }
    .about-me-right-side{
        gap: 20px;
        width:80%;
        padding-left:50px;
        background-color: rgba(255, 255, 255, 0.315) ;
        border: 1px white;
        backdrop-filter: blur 10px;
        border-radius:20px ;
    }
    .about-me-right-side h4{
        padding-top: 20px;
    }
}